.package_documentation__tabs {
  display: flex;
}

.package_documentation__tab {
  width: 33.333333%;
  cursor: pointer;
  @apply py-2 border-b-4 border-gray-200 text-gray-600;
  text-align: center;
}

@media (min-width: 1280px) {
  .package_documentation__tab {
    width: 50%;
  } 
}

.package_documentation__tab.active {
  @apply border-primary-600 border-b-4 text-gray-800;
}
